/* copy the font from google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
     font-family: 'Poppins', sans-serif;
     margin:0;
     padding: 0;
     box-sizing: border-box;  /*to make all childs elements inside or same my border*/
     scroll-behavior: smooth;
}


/*************header************************/
header{  
   
    height: 150px;
    background-color: rgb(238, 242, 243); /* color for header background light-blue*/
    width: 100%; 
    position: fixed;  /*------ i set fixed box heder, fixed + z-index 999*/
    z-index: 999;
    display: flex;    /*--------to set flex header*/
    justify-content: space-between; /*applay spaces between headers childs elements
                                         (nav+logo+logo-text)*/
    align-items: center;  /* center virticly*/
    padding: 10px 200px ; /*space around elemnts(child:logo+logo-text+nav): 
                           upp+buttom= 10px, right+left=200px*/
}

.logo-text {
    text-decoration: none; /*without line under*/
    color: rgb(75, 107, 120); /*color for text logo-text gray-blue*/
    text-transform: uppercase; /* kapital letters or logo-text*/
    font-weight: 700; /*thick of letters 700*/
    font-size: 1.8em; /* relative size till mobile by 1em=16px*/
    }
.logo {
    
    width: 80px;
    height: 80px;
    opacity: 0.3;
}

.nav a{    /*design Nav bar*/
    color:rgb(75, 107, 120);  /* color text Nav bar same Logo color 
                                 gray-blue*/
    text-decoration: none;  /*nav without line under*/
    font-size: 1.1em;  /*text size 1.1em*/
    font-weight: 500; /*font thich less than logo-text */
    padding-left: 30px; /*space between nav elements in 30px */

}
.nav a:hover{ /*Nav bar:change color on clik, point or stand on it*/
    color: #601cfc; /* color till deep-blue comes when we point or stand on it*/
}

/**************Startsidan ***************************************************/
section{
    padding: 200px ;/*space around all over start-page around in 100px*/
}
.main{  
    
    width: 100%;    /*take all width inside section*/
    min-height: 100vh; /* min 100 view port hight to full all the part*/
    display: flex;  /*flex */
    align-items: center; /*elents center*/
    background: url(images/background.jpg); /*background full from folder images
                                                no repeat*/
    background-size: cover; /*fix picture background to full coorect size*/
    background-position: center; /*background picture be in the center of section*/
    background-attachment: fixed;/*backround will not move with scrool*/
}

.main h2{  /* information text style first line */
    color:#ffff;  /*color text whiet*/
    font-size: 1.4em; /*text size small 1.4em +thick 500*/
    font-weight: 500;
}

.main h2 span{   /*style the title special */
    display: inline-block;/*change from inline-element till inline-blok to set spaces*/
    margin-top: 10px; /*space 10px between h2 first line and title (spane: Amo resturant)*/
    color: #fafcfc; /*white text*/
    font-size: 3em; /*thicker text 3em*/
    font-weight: 600;
}
.main h3{  /*third line information h3*/
    color: #ffff; /*white color text*/
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px; /*space between letters in the text for nice shape*/
    margin-top: 10px; /*space from upp text 10px*/
    margin-bottom: 30px;/* to push down space 30px to the button */
}
/*i want to make blue button for meny page  */
.main-btn{
    color: #ffff; /*text color white in button*/
    background-color: #3a6cf4; /*button cocor blue*/
    text-decoration: none; /*text size inside button*/
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block; /*change till inline-block to set margin and padding till button*/
    padding: 0.9375em; /*space around in em for relative side*/
    letter-spacing: 1px;
    border-radius: 15px;    /*curve in 15px small*/
    margin-bottom: 40px;    /*space down*/
    transition: 1 ease;     /*transition slow 1 second duration*/
}
.main-btn:hover{ /*to change bigger and change color when click or point mouse*/
    background-color: #32269b;/*to shine-blue button*/
    transform: scale(1.1 , 1.1);/*bigger 10% on button size x+y */
}
.social-icon a{
    color: #3160c4; /*icons color blue*/
    font-size: 2.1em;
    padding-right: 30px;  /*push the next icon in 30px*/
    padding-left: 10px;   /*space in left*/
    

}

/*  Bok Bord , grid */

.wrapper {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }
  .wrapper > * {
    padding: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .contacts {
    background: #4b5195;
    color: #fff;
  }
  
  .form {
    background: #fff;
  }
  
  form label {
    display: block;
  }
  
  button,
  input,
  textarea {
    padding: 1em;
  }
  
  button {
    background: lightgrey;
    width: 100%;
    border: 0;
  }
  button:hover, button:focus {
    background: gold;
    outline: 0;
  }
  
  .contain {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  @media (min-width: 600px) {
    .contain {
      padding: 0;
    }
  }
  
  h3,
  ul {
    margin: 0;
  }
  
  h3 {
    margin-bottom: 1rem;
  }
  
  input:focus,
  textarea:focus {
    outline: 3px solid gold;
  }
  
  input,
  textarea,
  button {
    width: 100%;
    border: 1px solid #000;
  }


/*   Meny style as cards ---------------------------------------*/
.title{
    display: flex;
    justify-content: center;
    color:#3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #ffff;
    width: 20.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/ 50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}
.card:hover{
transform: scale(1.1);
}
.icon{
    font-size: 8em;
    text-align: center;
}
.icon img{
    height: 20vh;
}

/*design the contakt*/
.contact .icon{
    font-size: 2.5em;
}
.contact .info h3{
    color: rgb(62, 76, 228);
}
.contact .info p{
    font-size: 1.5em;
   
}

.row {
    margin-left: 15px;
    margin-right: 15px;
}
.col {position: relative;
min-height: 1px;
padding-left: 15px;
padding-right: 1px;
margin-bottom: 30px;
}


/*footer , black background with white text coclor, 
the address& telephon+ socialmedia are GRID in class container,
 box are element inside grid box container*/

footer{
    background-color: #010118;
    padding-top: 20px;
}
.container {
    background-color: #010118;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: minmax(200px,auto) ;
    gap: 30px;
    
    

}
/*set spaces between columns*/
.box{
    text-align: center;
    color: #fafcfc;
   
}



@media (max-width:1023px){
    header{
        padding: 10px 15px;
    }
    .nav a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.3em;
    }
    section{
        padding: 40px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3 {
        font-size: 1.6em;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:641px){
    body{
        font-size: 12px;
    }
.main-content h2{
    font-size: 0.8em;
}
.main-content h3{
    font-size: 10px;
}

}

