/* copy the font from google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
     font-family: 'Poppins', sans-serif;
     margin:0;
     padding: 0;
     box-sizing: border-box;  /*to make all childs elements inside or same my border*/
     scroll-behavior: smooth;
}



header{
   
    height: 150px;
    background-color: rgb(238, 242, 243);
    width: 100%;
    position: fixed; /* i set fixed heder by fixed + z-index 999*/
    z-index: 999;
    display: flex; /*to set flex header*/
    justify-content: space-between; /*to aplay spaces between headers childs elements (nav+logo)*/
    align-items: center;
    padding: 10px 200px ;
}

.logo {
    text-decoration: none;
    color: rgb(83, 83, 111);
    text-transform: uppercase; /* kapital letters or logo*/
    font-weight: 700;
    font-size: 1.8em; /*set relative size till mobile*/
    }
.logo1 {
    
    width: 80px;
    height: 80px;
    opacity: 0.3;
}

.nav a{
    color:rgb(143, 143, 158);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;

}

.nav a:hover{
    color: #601cfc;
}
section{
    padding: 100px ;
}
.main{
    padding: 300px 200px;
    width: 100%;
    min-height: 100vh; /*view port to full att the part*/
    display: flex;
    align-items: center;
    background: url(images/background.jpg);
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color:#ffff;
    font-size: 1.4em;
    font-weight: 500;

}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #fafcfc;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: #ffff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
/*i want to make blue buttom  */
.main-btn{
    color: #ffff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 1 ease;
}
.main-btn:hover{
    background-color: #32269b;
    transform: scale(1.1 , 1.1);
}
.social-icon a{
    color: #3160c4;
    font-size: 2.1em;
    padding-right: 30px;
    padding-left: 10px;
    

}

/*  Bok Bord , grid */

.wrapper {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }
  .wrapper > * {
    padding: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .contacts {
    background: #4b5195;
    color: #fff;
  }
  
  .form {
    background: #fff;
  }
  
  form label {
    display: block;
  }
  
  button,
  input,
  textarea {
    padding: 1em;
  }
  
  button {
    background: lightgrey;
    width: 100%;
    border: 0;
  }
  button:hover, button:focus {
    background: gold;
    outline: 0;
  }
  
  .contain {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  @media (min-width: 600px) {
    .contain {
      padding: 0;
    }
  }
  
  h3,
  ul {
    margin: 0;
  }
  
  h3 {
    margin-bottom: 1rem;
  }
  
  input:focus,
  textarea:focus {
    outline: 3px solid gold;
  }
  
  input,
  textarea,
  button {
    width: 100%;
    border: 1px solid #000;
  }


/*   Meny style as cards ---------------------------------------*/
.title{
    display: flex;
    justify-content: center;
    color:#3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #ffff;
    width: 20.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/ 50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}
.card:hover{
transform: scale(1.1);
}
.icon{
    font-size: 8em;
    text-align: center;
}
.icon img{
    height: 20vh;
}

/*design the contakt*/
.contact .icon{
    font-size: 2.5em;
}
.contact .info h3{
    color: rgb(62, 76, 228);
}
.contact .info p{
    font-size: 1.5em;
   
}

.row {
    margin-left: 15px;
    margin-right: 15px;
}
.col {position: relative;
min-height: 1px;
padding-left: 15px;
padding-right: 1px;
margin-bottom: 30px;
}


/*footer , black background with white text coclor, 
the address& telephon+ socialmedia are GRID in class container,
 box are element inside grid box container*/

footer{
    background-color: #010118;
    padding-top: 20px;
}
.container {
    background-color: #010118;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: minmax(200px,auto) ;
    gap: 30px;
    
    

}
/*set spaces between columns*/
.box{
    text-align: center;
    color: #fafcfc;
   
}



@media (max-width:1023px){
    header{
        padding: 10px 15px;
    }
    .nav a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.3em;
    }
    section{
        padding: 40px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3 {
        font-size: 1.6em;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:641px){
    body{
        font-size: 12px;
    }
.main-content h2{
    font-size: 0.8em;
}
.main-content h3{
    font-size: 10px;
}

}

