/* copy the font from google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
     font-family: 'Poppins', sans-serif;
     margin:0;
     padding: 0;
     box-sizing: border-box;                   /*to make all childs elements inside or same my border*/
     scroll-behavior: smooth;
}

:root {
    --blue-b-color: #601cfc;
    --logo-color: rgb(75, 107, 120);
    --header-color:  rgb(238, 242, 243);
}

/************************header************************/
header{  
   
    height: 150px;
    background-color: var(--header-color);     /* color for header background light-blue*/
    width: 100%;    
    position: fixed;  
    z-index: 999;
    display: flex;             
    justify-content: space-between;            /*spaces between headers childs elements
                                               (nav+logo+logo-text)*/
    align-items: center;                       /* center virticly*/
    padding: 10px 200px ;                      /*space around elemnts(child:logo+logo-text+nav): 
                                              upp+buttom= 10px, right+left=200px*/
}

.logo-text {
    text-decoration: none;                     /*without line under*/
    color: var(--logo-color);               /*color for text logo-text gray-blue*/
    text-transform: uppercase;                /* kapital letters or logo-text*/
    font-weight: 700;                         /*thick of letters 700*/
    font-size: 1.8em;                         /* relative size till mobile by 1em=16px*/
    }
.logo {
    
    width: 80px;
    height: 80px;
    opacity: 0.3;
}

.nav a{                   /*design Nav bar*/
    color: var(--logo-color);            /* color text Nav bar same Logo color 
                                               gray-blue*/
    text-decoration: none;                 /*nav without line under*/
    font-size: 1.1em;                      /*text size 1.1em*/
    font-weight: 500;                      /*font thich less than logo-text */
    padding-left: 30px;                    /*space between nav elements in 30px */

}
.nav a:hover{                          /*Nav bar:change color on clik, point or stand on it*/
    color: var(--blue-b-color);                  /* color till deep-blue comes in point or stand */
}



/**********************Startsidan ***************************************************/
section{
    padding: 200px ;                  /*space around all over start-page around in 100px*/
}
.main{  
    
                         /*take all width inside section*/
    min-height: 120vh; 
    max-width: 100%;                /* min 100 view port hight to full all the part*/
    display: flex;  
    align-items: center; 
    background: url(images/background.jpg);     /*background full */
    background-size: cover;    
    background-position: center;       
    background-attachment: fixed; 
                   /*backround will not move with scrool*/
}

.main h2{                     /* information text style first line */
    color:#ffff;                   /*color text whiet*/
    font-size: 1.4em;                /*text size small 1.4em +thick 500*/
    font-weight: 500;
}

.main h2 span{                          /*style the title special */
    display: inline-block;              /*change from inline-element till inline-blok to set spaces*/
    margin-top: 10px;                   /*space 10px between h2 first line and title (spane: Amo resturant)*/
    color: #fafcfc;                   /*white text*/
    font-size: 3em;                     /*thicker text 3em*/
    font-weight: 600;
}
.main h3{               /*third line information h3*/
    color: #ffff;                     /*white color text*/
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;               /*space between letters in the text for nice shape*/
    margin-top: 10px;                  /*space from upp text 10px*/
    margin-bottom: 30px;               /* to push down space 30px to the button */
}
/***********i want to make blue button for meny page ***** */
.main-btn, .main-btn-bok{
    color: #ffff;                    /*text color white in button*/
    background-color: #3a6cf4;       /*button color blue*/
    text-decoration: none;              /*text size inside button*/
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;   /*change till inline-block to set margin and padding till button*/
    padding: 1em; 
    letter-spacing: 1px;
    border-radius: 15px;               /*curve in 15px small*/
    margin-bottom: 40px;               /*space down*/
    transition: 1 ease;                /*transition slow 1 second duration*/
}
.main-btn:hover, .main-btn-bok:hover{     /*to bigger and change color */
    background-color: #32269b;           /*to dark-blue button*/
    transform: scale(1.1 , 1.1);           /*bigger 10% on button size x+y */
}
.social-icon a{
    color: #3160c4;                   /*icons color blue*/
    font-size: 2.1em;
    padding-right: 30px;                /*push the next icon in 30px*/
    padding-left: 18px;                 /*space in left*/
   
}
.main-btn-bok{                          /*button boka place in the middle*/
    margin-left: 50%;
}


/***************************************************************************/

/*  Bok Bord , grid */
.wrapper {
    display: grid;
    grid-template-columns: 300px 2fr ;          /*2 column 1size till 2*/
    box-shadow: 0 0 5px 0 rgba(171, 123, 123, 0.2); /*litle shadow value and
                                                 color black*/
    gap: 20px;                                  /*space between tow column*/                                          
  }
  .wrapper > * {
    padding: 1em;                             /*around area for all elements in 1em*/
  }
  
  ul {
    list-style: none;                           /*list information without dotts*/
    padding: 0;
  }
  
  .contacts { /*-----1'st column--*/
    background: #4b5195;                     /*first column background in light-blue*/ 
    color: #fff;                             /*white text*/
  }
  
  .form {  /*-----2'nd column--*/
    background: #fff;                      /*background all elemnts (forms)in 2'nd column 
                                                 are white*/
  }
  
  form label {   
    display: block;                           /*text labels are block*/
  }
  
  button,
  input,
  textarea {
    padding: 1em; 
  }
  
  button {
    background: lightgrey;           /*(skicka) button is light-grey*/
    width: 100%;                         /*is fulling the 2'nd column*/
    border: 0;
  }
  button:hover, button:focus {            /*change till gold color when click*/
    background: gold;
    outline: 0;
  }
  
  .contain {                            /*main view for hole box*/
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
 
  h3, ul {
    margin: 0;
  }
  
  h3 {
    margin-bottom: 1rem;
  }
  
  input:focus,                        /*change shadow color till gold whrn write*/
  textarea:focus {
    outline: 3px solid gold;
  }
  
  input,
  textarea,
  button {
    width: 100%;
    border: 1px solid #000;
  }

/*****************Meny style - flex boxex as cards**************************/
.title{   /*title style text */
    display: flex;
    justify-content: center;
    color:#3a6cf4;              /* letters are in shine blue*/
    font-size: 2.2em;              /*text size is 2.2em, nice size */
    font-weight: 800;
    margin-bottom: 30px;           /*down space to the cards boxex*/
}
.content {                    /*flex box all elements(childs or cards) */
    display: flex;
    justify-content: center;
    flex-direction: row;          
    flex-wrap: wrap;              
}
.card{                          /*each card design */
    background-color: #ffff; /* white backgroung*/
    width: 20.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/ 50%); /*shadow behaind each card*/
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}
.card:hover{            /*hover for each card to be bigger */
transform: scale(1.1);
}
.icon{
    font-size: 8em;
    text-align: center;
}
.icon img{             /*each card picture size*/
    height: 20vh;
}


/**************************************************************/
/*design the contact*/
.contact .icon{
    font-size: 2.5em;
}
.contact .info h3{
    color: rgb(62, 76, 228); /*contact telphon and address color blue-shine value rgb*/
}
.contact .info a{
    text-decoration: none; 
    color: rgb(62, 76, 228);
}

.row {                         /*area around text */
    margin-left: 15px;
    margin-right: 15px;
}
.col {  
position: relative;  
padding-left: 15px;
padding-right: 1px;
margin-bottom: 30px;
}


/*****************footer , black background with white text coclor, 
******* GRID *****
 element inside grid box container*/

footer{
    background-color: #010118;         /* specific black value*/
    padding-top: 20px;                   /*top space 20px value*/
}
.container {
    background-color: #010118;        /*black value same in footer*/
    padding-top: 20px;
    display: grid;               /*Grid*/
    grid-template-columns: 33% 33% 33%;  /*3 columns equall erea*/
    grid-auto-rows: minmax(200px,auto) ;  
    gap: 30px;                           /*space 30px*/

}

.box{                                   /*each column inside text color white and center*/
    text-align: center; 
    color: #fafcfc;  
}
.box a{
    color: #fafcfc; 
    text-decoration: none;
}
.box2{
   transition: 1 ease;
    letter-spacing: 1px;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
   
  }


  
  @keyframes example {
    0%   { font-size: 120%;}
    25%  {  }
    50%  { font-size: 150%;}
    75%  {   }
    100% {   font-size: 120% }
   
  }



/* ***************media view in mobile ************  */
@media (max-width:1023px){             /*condition if the screen size less till 1023px*/
    header{                            /*normal padding 10px 200px,, */
        padding: 5px 10px;
    }
    .main{
        background-size:auto ;
        background-repeat: no-repeat;
        background-position-x: left;
        padding-bottom: 0;
    }
    .logo{
        width: 0;
    }
    .nav a{  
        padding-left: 10px;             /* less left paddingx*/
        padding-right: 3px;
    }
    .meny{
        padding-top: 200px;            /*bush down*/
    }
    
    .title h2{                       /*Meny page-- less font title*/
        font-size: 1.3em;
        padding-top: 100px;
    }
    .cards {
        padding-top: 100px;
    }
    .icon img{
        height: 15vh;               /*small picture in meny cards than 30vh*/
    }
    section{        
        padding: 40px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3 { 
        font-size: 1.6em;
    }
    .content {                       /*card for meny change to collumn*/
        flex-direction: column;
        align-items: center;         /*use align-item brcause it is collumn*/
    }
    .container { 
        gap: 10px;
        font-size: 0.8em;                   /*less gap between column in footer*/
        
    }
    

    .wrapper{                          /***boka smaller in mobil view*/
        grid-template-columns: 80px 4fr;
        gap: 0;
        
    }
    .contain {                        /*main view for boka bord in mobile  */
        margin-top: 150px;
    
        margin-left: 0;
        margin-right: 0;
        padding: 0.4em;
      }
}

@media (max-width:641px){            /*for smaller iphon*/
    body{
        font-size: 12px;
    }
.main-content h2{
    font-size: 0.8em;
}
.main-content h3{
    font-size: 10px;
}

}

